---
layout: page
title: Posts
permalink: /posts/
---

<ul>
  <% site.posts.docs.each do |post| %>
    <li>
      <%= link_to post.data.title, post.url %>
    </li>
  <% end %>
</ul>

If you have a lot of posts, you may want to consider adding <%= link_to 'pagination', "https://www.bridgetownrb.com/docs/content/pagination", target: :_blank %>!
